<!DOCTYPE html>
<html>
<head>
  <% if @refresh %>
    <meta http-equiv="refresh" content="6; URL=/">
  <% end %>
  <title>gifmonet</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <style>
    body {
      background-image: url("<%= @background_image %>");
      background-repeat: repeat;
    }
  </style>
</head>

<body>
  <%= erb :flash %>

  <%= yield %>

  <div class="center-container">
    <img src="<%= @foreground_image %>">
  </div>
</body>
</html>
