body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.center-container {
  height: 100vh;
}

div.center-container img {
  /* center horizontally */
  display: block;
  margin: auto;

  /* center vertically within div */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.flash {
  color: white;
  background-color: DarkGreen;
  text-align: center;
  padding: 10px;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}
