div.center-container {
  height: 100vh;
}

div.center-container img {
  /* center horizontally */
  display: block;
  margin: auto;

  /* center vertically within div */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
